<!-- <p>Interpolation binding</p>
<h1>Hello Welcome to {{name}}</h1>

<p>Property Binding</p>
<img [src]="image" alt="">

<p>Event Binding</p> -->
<!-- <button (click) = "onClick('Thanks for Subscribing')">Subscribe</button> -->
<!-- <p>Two-way binding</p>
<input [(ngModel)]="random" type="text">

<p>Outputed text: {{random}}</p>

<h3>Constructor Injection</h3>
<app-e-info></app-e-info> -->


 <!-- <app-navbar></app-navbar> -->
 <app-pipes></app-pipes>
<!-- App Routing -->
 <!-- <router-outlet></router-outlet> -->
<!-- <app-intro></app-intro>
<app-courses></app-courses>
<app-footer></app-footer> -->

<!-- <app-newcomp></app-newcomp> -->
